<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bye Bye</title>
</head>
<body>
  <h1>Bye {{ nom }}</h1>
  <p>Je ne sais pas à qui s'adresse ce message mais il est temps pour moi de m'en aller. <br/>
  Sur ce, {{ aurevoir }} !</p>
  <a href="/hello-world">Nooooooooon !! Je ne veux pas partir !!</a>
</body>
</html>
