<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bienvenue sur ma première page avec Openclassrooms !</title>
</head>
<body>
  <h1>Hello {{ nom }} !</h1>
  <p>
    Le Hello {{ nom }} est un grand classique en programmation.<br/>
    Il signifie énormément, car cela veut dire que vous avez <br/>
    réussi à exécuter le programme pour accomplir une tâche simple :<br/>
    afficher ce hello {{ nom }} !
  </p>
  <a href="/bye">Je dois partir...</a>
</body>
</html>
